
.home_header {
    padding: 2px 2px 2px;
}

.home_header .jsp {
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    word-spacing: 5px;
    font-size: 30px;
}

.home_header .home_other {
    color: red;
    float: right;
    word-spacing: 15px;
    font-size: 25px;
    font-weight: bold;
    padding-right: 1cm;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration-line: blink;
}

.home {
    background-image: url("image/home3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home_LEFT_SIDE nav:nth-child(1) {
    position: absolute;
    font-size: 40px;
    font-family: cursive;
    bottom: 165px;
    left: 299px;
    transform: rotate(-11deg);
}

.home_LEFT_SIDE nav:nth-child(2) {
    position: absolute;
    font-size: 19px;
    font-family: cursive;
    bottom: 130px;
    left: 285px;
    transform: rotate(-11deg);
}

.home_LEFT_SIDE nav:nth-child(3) {
    font-size: 19px;
    font-family: cursive;
    position: absolute;
    bottom: 100px;
    left: 286px;
    transform: rotate(-11deg);
}

.home_LEFT_SIDE nav:nth-child(4) {
    font-size: 19px;
    font-family: cursive;
    position: absolute;
    bottom: 40px;
    left: 650px;
    transform: rotate(-11deg);
}

.home_img img:nth-child(1) {
    position: absolute;
    right: 50px;
    bottom: 30px;
}

.SOCIALMEDIA_backgrondimage {
    background-image: url("image/backgroundSOCIAL.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.socialmedia_icons a:nth-child(1) {
    position: absolute;
    right: 613px;
    bottom: 20px;
}

.socialmedia_icons a:nth-child(2) {
    position: absolute;
    right: 500px;
    bottom: 22px;
}

.socialmedia_icons a:nth-child(3) {
    position: absolute;
    right: 390px;
    bottom: 22px;
}

.socialmedia_icons a:nth-child(4) {
    position: absolute;
    right: 280px;
    bottom: 22px;
}

.socialmedia_icons a:nth-child(5) {
    position: absolute;
    right: 163px;
    bottom: 12px;
}
.socialmedia_icons a:nth-child(6) {
    position: absolute;
    right: 43px;
    bottom:30px;
}
.GALLERY_backgrond{
    background-color: rgb(189, 243, 243);
    background-repeat: no-repeat;
    background-size: cover;
}
.GALLERY_navbar{
    background-color: #ff9797;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    padding: 10px;
}
.GALLERY_IMAGES {
    margin: auto;
    width: max-content;
  }
  .GALLERY_IMAGES_div_1 {
    display: flex;
    flex-direction: column;
  }
  .GALLERY_IMAGES_div_1 img {
    margin: 20px;
    height: 400px;
    width: 400px;
    transition: all 0.5s;
  }
  .GALLERY_IMAGES_div_1 img:hover {
    transform: scale(1.2) rotate(0deg);
    box-shadow: 2px 2px 10px black;
  }
  .GALLERY_IMAGES_div_1 video {
    margin: 20px;
    height: 400px;
    width: 400px;
    transition: all 0.5s;
  }
.GALLERY_IMAGES_div_1 video:hover {
  transform: scale(1.2) rotate(0deg);
  box-shadow: 2px 2px 10px black;
}
.about{
    margin: 0%;
    background-image: url(image/backgroundabout.jpg);
    background-size: cover;
}
.about-0 pre{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    padding-block: 25px;
    padding-left: 50px; 
    background-color: rgb(190, 248, 230);
}
.about-1{
    height: 200px;
    margin: 1.5cm;
    padding: 1px;
}
.about-1 img{
    float: right;
    width: 300px;
    height: 200px;
    margin: 10px;
}
.about-2{
    height: 200px;
    margin: 1.5cm;
    padding: 1px;
}
.about-2 img{
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
}
.contactus{
    margin: auto;
    width: 25%;
    padding: 10px;
    height: 400px;  
     
}
.contact h1{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.contact input{
    height: 1cm;
    width: 10cm;
}
input[type=submit] {
    background-color: #00ffa2;
    width: 385px;
    height: 30px;
}
